.matchCard{
    display: flex;
    background-color: #EDF49A;
    padding: 3%;
    border-radius: 25px;
    width: 50%;
}

.barContainer{
    height: 20;
    width: 40%;
    background-color: #e0e0de;
    border-radius: 20px;
    margin: 1%;

}

.barFill{
    height: 100%;
    
    background-color: #B2D199;
     border-radius: inherit;
    text-align: right;
}

.barInside{
    padding: 15px;
    padding-bottom: 25px;
    color: white;
    font-weight: bold;
}